<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The Capstone project of the Udacity 'Front End Web Developer' nanodergee program (https://www.udacity.com/course/front-end-web-developer-nanodegree--nd0011)">
  <meta name="author" content="Natalia Petrenko">
  <title>Travel app</title>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="../styles/normalize.css"> -->
  <!-- <link rel="stylesheet" href="../styles/base.css"> -->
  <!-- <script type="module" src="../index.js"></script> -->
  <!-- <script type="module" src="../../../dist/main.js"></script> -->
</head>

<body>
  <div id="main-container">
    <div id="blockquote-text" class="">
      <blockquote>
        &ldquo;I haven&rsquo;t been everywhere<br/>but it&rsquo;s on my list.&rdquo;
      </blockquote>
      <div class="blockquote-text-cite">
        &mdash;<cite><a href="https://www.youtube.com/watch?v=HRqQDJktNlA&ab_channel=Pitchfork" target="_blank">DJ Koze</a></cite>
      </div>
    </div>

    
    <section id="entry-form" class="foreground">
      <h1>Plan your dream&nbsp;trip</h1>
      <p>Enter your trip destination and dates when you&rsquo;d like to travel.</p>
      <div>
        <label for="destination">Trip destination:</label>
        <input id="destination" type="text" value="" placeholder="City name">
      </div>
      <div id="dates">
        <div>
          <label for="date-start">Trip start date:</label>
          <input id="date-start" type="text" placeholder="MM/DD/YYYY">
        </div>
        <div>
          <label for="date-end">Trip end date:</label>
          <input id="date-end" type="text" placeholder="MM/DD/YYYY">
        </div>
      </div>
      <button id="explore-button">Explore</button>
    </section>

    <section id="entry-results" class="foreground display-none">
      <h2>Excellent choice!</h2>
      <div id="user-entry-results"></div>
      <img id="city-image"/>
      <div id="current-weather">
        <div>
          <div id="wheather-city"></div>
          <div id="wheather-date"></div>
        </div>
        <div id="wheather-temp"></div>
        <div>
          <img id="wheather-icon"/>
          <div id="wheather-description"></div>
        </div>
      </div>
      <button id="clear-results">Clear</button>
    </section>
  </div>

    <!-- Sample results for styling -->
    <!-- <section id="entry-results" class="foreground">
      <h2>Excellent choice!</h2>
      <div id="user-entry-results">You have chosen to travel to <strong>Sydney</strong> (Australia) for <strong>2 days</strong>.</div>
      <img id="city-image"src=""/>
      <div id="current-weather">
        <div>
          <div id="wheather-city">Sydney</div>
          <div id="wheather-date">Fri, 7 Dec 2021, 7:25pm</div>
        </div>
        <div id="wheather-temp">20°C</div>
        <div>
          <img id="wheather-icon"src="https://www.weatherbit.io/static/img/icons/c02d.png"/>
          <div id="wheather-description">Scattered clouds</div>
        </div>
      </div>
      <button id="clear-results">Clear</button>
    </section>
  </div> -->

  <footer>
    <p>The beautiful background photo by <a href="https://www.pexels.com/photo/hot-air-ballons-in-the-sky-2325446/" target="_blank" rel=”noopener noreferrer”>Francesco Ungaro</a> from <a href="https://www.pexels.com/" target="_blank" rel=”noopener noreferrer”>Pexels</a></p>
    <p>&copy Coded by Natalia Petrenko, 2021</p>
  </footer>

  <!-- <script src="../index.js" type="text/javascript"></script> -->
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script>
</body>
</html>